@import "variables";
@import "mixin";
@import "colors-class";
@import "custom-animation";

::-webkit-scrollbar {
	width: 3px;
	/* This is more usable for users trying to click it. */
	background-color: rgba(100, 100, 100, 0.1);
	-webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
	/* This is the EXACT color of Mac OS scrollbars.
     Yes, I pulled out digital color meter */
	background: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
	background: rgba(0, 0, 0, 0.61); /* Some darker color when you click it */
	-webkit-border-radius: 100px;
}

.ant-input-disabled {
	color: rgba(0, 0, 0, 0.75);
	background-color: #f5f5f5;
	cursor: not-allowed;
	opacity: 1;
}

.ant-input[disabled] {
	color: rgba(0, 0, 0, 0.75);
	background-color: #f5f5f5;
	cursor: not-allowed;
	opacity: 1;
}

.ant-select-disabled {
	color: rgba(0, 0, 0, 0.75);
}

.ant-radio-group-solid
	.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
	color: #fff;
	background: #038fde;
	border-color: #038fde;
}
.ant-radio-group-solid
	.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
	background: white;
	color: black;
	border-color: white;
}
.ant-radio-group-solid
	.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
	color: #fff;
	background: #038fde;
	border-color: #038fde;
}

.ant-radio-group-solid
	.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
	color: #fff;
	border-color: #038fde;
}

.ant-select-disabled.ant-select:not(.ant-select-customize-input)
	.ant-select-selector {
	color: rgba(0, 0, 0, 0.75);
	background: #f5f5f5;
	cursor: not-allowed;
}

.ant-picker-input > input[disabled] {
	color: rgba(0, 0, 0, 0.75);
	border-color: #d9d9d9;
	box-shadow: none;
	cursor: not-allowed;
	opacity: 1;
}

.ant-select-disabled.ant-select-multiple .ant-select-selection-item {
	color: rgba(0, 0, 0, 0.75);
	border-color: #d9d9d9;
}
.ant-radio-button-wrapper-disabled:first-child,
.ant-radio-button-wrapper-disabled:hover {
	color: rgba(0, 0, 0, 0.75);
	background-color: #f5f5f5;
}

.ant-form-item-control-input {
	.ant-input[disabled] {
		color: rgba(0, 0, 0, 0.75);
		background-color: #f5f5f5;
		cursor: not-allowed;
		opacity: 1;
	}
	.ant-select-disabled {
		color: rgba(0, 0, 0, 0.75);
	}
	.ant-select-disabled.ant-select:not(.ant-select-customize-input)
		.ant-select-selector {
		color: rgba(0, 0, 0, 0.75);
		background: #f5f5f5;
	}
	.ant-picker-input > input[disabled] {
		color: rgba(0, 0, 0, 0.75);
		border-color: #d9d9d9;
		box-shadow: none;
	}
	.ant-radio-button-wrapper-disabled.ant-radio-button-wrapper-checked {
		color: rgba(0, 0, 0, 0.75);
		border-color: #d9d9d9;
		box-shadow: none;
	}
	.ant-select-disabled.ant-select-multiple .ant-select-selection-item {
		color: rgba(0, 0, 0, 0.75);
		border-color: #d9d9d9;
	}
	.ant-checkbox-disabled .ant-checkbox-inner {
		border-color: #d9d9d9 !important;
	}
	.ant-checkbox-disabled + span {
		color: rgba(0, 0, 0, 0.75);
	}
	.ant-select-disabled.ant-select:not(.ant-select-customize-input)
		.ant-select-selector {
		color: rgba(0, 0, 0, 0.75);
	}
	.ant-input[disabled] {
		color: rgba(0, 0, 0, 0.75);
		background-color: #f5f5f5;
		border-color: #d9d9d9;
		box-shadow: none;
	}
}

.ant-menu-submenu-title:hover {
	.ant-menu-submenu-arrow::before,
	.ant-menu-submenu-arrow::after {
		background: white !important;
	}
}

.anticon svg {
	margin-top: 0.1rem;
}

.ant-select-arrow,
.ant-select-clear {
	margin-top: 0.1rem;
	top: 31%;
}

.margin-1r {
	margin-bottom: 1rem;
}

.left-margin {
	margin-left: 0;
}

.email-input {
	width: 24rem;
}
.email-invite {
	margin-top: 25px;
}

.li-gap {
	margin-left: none;
}

.gx-header-notifications {
	flex-wrap: nowrap;
}
.team-leads {
	float: none !important;
	padding-left: 0;
	padding-right: 0;
}

.team-leads {
	.ant-checkbox + span {
		padding-right: 0;
	}
}

.ant-card-extra {
    margin-left: auto;
    padding: 0;
    color: #545454;
    font-weight: normal;
    font-size: 14px;
}

.padding-lt-0 {
	.ant-col-1,
	.ant-col-10,
	.ant-col-11,
	.ant-col-12,
	.ant-col-13,
	.ant-col-14,
	.ant-col-15,
	.ant-col-16,
	.ant-col-17,
	.ant-col-18,
	.ant-col-19,
	.ant-col-2,
	.ant-col-20,
	.ant-col-21,
	.ant-col-22,
	.ant-col-23,
	.ant-col-24,
	.ant-col-3,
	.ant-col-4,
	.ant-col-5,
	.ant-col-6,
	.ant-col-7,
	.ant-col-8,
	.ant-col-9,
	.ant-col-lg-1,
	.ant-col-lg-10,
	.ant-col-lg-11,
	.ant-col-lg-12,
	.ant-col-lg-13,
	.ant-col-lg-14,
	.ant-col-lg-15,
	.ant-col-lg-16,
	.ant-col-lg-17,
	.ant-col-lg-18,
	.ant-col-lg-19,
	.ant-col-lg-2,
	.ant-col-lg-20,
	.ant-col-lg-21,
	.ant-col-lg-22,
	.ant-col-lg-23,
	.ant-col-lg-24,
	.ant-col-lg-3,
	.ant-col-lg-4,
	.ant-col-lg-5,
	.ant-col-lg-6,
	.ant-col-lg-7,
	.ant-col-lg-8,
	.ant-col-lg-9,
	.ant-col-md-1,
	.ant-col-md-10,
	.ant-col-md-11,
	.ant-col-md-12,
	.ant-col-md-13,
	.ant-col-md-14,
	.ant-col-md-15,
	.ant-col-md-16,
	.ant-col-md-17,
	.ant-col-md-18,
	.ant-col-md-19,
	.ant-col-md-2,
	.ant-col-md-20,
	.ant-col-md-21,
	.ant-col-md-22,
	.ant-col-md-23,
	.ant-col-md-24,
	.ant-col-md-3,
	.ant-col-md-4,
	.ant-col-md-5,
	.ant-col-md-6,
	.ant-col-md-7,
	.ant-col-md-8,
	.ant-col-md-9,
	.ant-col-sm-1,
	.ant-col-sm-10,
	.ant-col-sm-11,
	.ant-col-sm-12,
	.ant-col-sm-13,
	.ant-col-sm-14,
	.ant-col-sm-15,
	.ant-col-sm-16,
	.ant-col-sm-17,
	.ant-col-sm-18,
	.ant-col-sm-19,
	.ant-col-sm-2,
	.ant-col-sm-20,
	.ant-col-sm-21,
	.ant-col-sm-22,
	.ant-col-sm-23,
	.ant-col-sm-24,
	.ant-col-sm-3,
	.ant-col-sm-4,
	.ant-col-sm-5,
	.ant-col-sm-6,
	.ant-col-sm-7,
	.ant-col-sm-8,
	.ant-col-sm-9,
	.ant-col-xs-1,
	.ant-col-xs-10,
	.ant-col-xs-11,
	.ant-col-xs-12,
	.ant-col-xs-13,
	.ant-col-xs-14,
	.ant-col-xs-15,
	.ant-col-xs-16,
	.ant-col-xs-17,
	.ant-col-xs-18,
	.ant-col-xs-19,
	.ant-col-xs-2,
	.ant-col-xs-20,
	.ant-col-xs-21,
	.ant-col-xs-22,
	.ant-col-xs-23,
	.ant-col-xs-24,
	.ant-col-xs-3,
	.ant-col-xs-4,
	.ant-col-xs-5,
	.ant-col-xs-6,
	.ant-col-xs-7,
	.ant-col-xs-8,
	.ant-col-xs-9 {
		padding-left: 0;
	}
}

@media (max-width: 614px) {
	.ant-form-item {
		width: 100%;
	}
}
@media (max-width: 748px) {
	.left-margin {
		margin-left: 2rem;
	}
}
@media (max-width: 575px) {
	.add-holiday .ant-form-item-label > label {
		height: auto !important;
	}
}

@media (max-width: 1314px) {
	.flex-column {
		flex-direction: column;
	}
	.email-input {
		width: 100%;
	}
	.email-invite {
		margin-top: 0.8rem;
		margin-bottom: 0;
	}
}
@media (max-width: 417px) {
	.day-attendance {
		margin-right: 4rem;
	}
	.li-gap {
		margin-left: -0.9rem;
	}
}
@media (max-width: 647px) {
	.ant-picker-panel-container .ant-picker-panels {
		display: inline-flex;
		flex-wrap: nowrap;
		direction: ltr;
		flex-direction: column;
	}
}

@media (max-width: 1600px){
	.padding-lt-0 {
		.ant-col-1,
		.ant-col-10,
		.ant-col-11,
		.ant-col-12,
		.ant-col-13,
		.ant-col-14,
		.ant-col-15,
		.ant-col-16,
		.ant-col-17,
		.ant-col-18,
		.ant-col-19,
		.ant-col-2,
		.ant-col-20,
		.ant-col-21,
		.ant-col-22,
		.ant-col-23,
		.ant-col-24,
		.ant-col-3,
		.ant-col-4,
		.ant-col-5,
		.ant-col-6,
		.ant-col-7,
		.ant-col-8,
		.ant-col-9,
		.ant-col-lg-1,
		.ant-col-lg-10,
		.ant-col-lg-11,
		.ant-col-lg-12,
		.ant-col-lg-13,
		.ant-col-lg-14,
		.ant-col-lg-15,
		.ant-col-lg-16,
		.ant-col-lg-17,
		.ant-col-lg-18,
		.ant-col-lg-19,
		.ant-col-lg-2,
		.ant-col-lg-20,
		.ant-col-lg-21,
		.ant-col-lg-22,
		.ant-col-lg-23,
		.ant-col-lg-24,
		.ant-col-lg-3,
		.ant-col-lg-4,
		.ant-col-lg-5,
		.ant-col-lg-6,
		.ant-col-lg-7,
		.ant-col-lg-8,
		.ant-col-lg-9,
		.ant-col-md-1,
		.ant-col-md-10,
		.ant-col-md-11,
		.ant-col-md-12,
		.ant-col-md-13,
		.ant-col-md-14,
		.ant-col-md-15,
		.ant-col-md-16,
		.ant-col-md-17,
		.ant-col-md-18,
		.ant-col-md-19,
		.ant-col-md-2,
		.ant-col-md-20,
		.ant-col-md-21,
		.ant-col-md-22,
		.ant-col-md-23,
		.ant-col-md-24,
		.ant-col-md-3,
		.ant-col-md-4,
		.ant-col-md-5,
		.ant-col-md-6,
		.ant-col-md-7,
		.ant-col-md-8,
		.ant-col-md-9,
		.ant-col-sm-1,
		.ant-col-sm-10,
		.ant-col-sm-11,
		.ant-col-sm-12,
		.ant-col-sm-13,
		.ant-col-sm-14,
		.ant-col-sm-15,
		.ant-col-sm-16,
		.ant-col-sm-17,
		.ant-col-sm-18,
		.ant-col-sm-19,
		.ant-col-sm-2,
		.ant-col-sm-20,
		.ant-col-sm-21,
		.ant-col-sm-22,
		.ant-col-sm-23,
		.ant-col-sm-24,
		.ant-col-sm-3,
		.ant-col-sm-4,
		.ant-col-sm-5,
		.ant-col-sm-6,
		.ant-col-sm-7,
		.ant-col-sm-8,
		.ant-col-sm-9,
		.ant-col-xs-1,
		.ant-col-xs-10,
		.ant-col-xs-11,
		.ant-col-xs-12,
		.ant-col-xs-13,
		.ant-col-xs-14,
		.ant-col-xs-15,
		.ant-col-xs-16,
		.ant-col-xs-17,
		.ant-col-xs-18,
		.ant-col-xs-19,
		.ant-col-xs-2,
		.ant-col-xs-20,
		.ant-col-xs-21,
		.ant-col-xs-22,
		.ant-col-xs-23,
		.ant-col-xs-24,
		.ant-col-xs-3,
		.ant-col-xs-4,
		.ant-col-xs-5,
		.ant-col-xs-6,
		.ant-col-xs-7,
		.ant-col-xs-8,
		.ant-col-xs-9 {
			padding-left: 16px;
		}
	}
}
