@import "variables";
@import "mixin";
@import "colors-class";
@import "custom-animation";

::-webkit-scrollbar {
	width: 3px;
	/* This is more usable for users trying to click it. */
	background-color: rgba(100, 100, 100, 0.1);
	-webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
	/* This is the EXACT color of Mac OS scrollbars.
     Yes, I pulled out digital color meter */
	background: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
	background: rgba(0, 0, 0, 0.61); /* Some darker color when you click it */
	-webkit-border-radius: 100px;
}

.ant-input-disabled {
	color: rgba(0, 0, 0, 0.75);
	background-color: #f5f5f5;
	cursor: not-allowed;
	opacity: 1;
}

.ant-input[disabled] {
	color: rgba(0, 0, 0, 0.75);
	background-color: #f5f5f5;
	cursor: not-allowed;
	opacity: 1;
}

.ant-select-disabled {
	color: rgba(0, 0, 0, 0.75);
}

.ant-radio-group-solid
	.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
	color: #fff;
	background: #038fde;
	border-color: #038fde;
}
.ant-radio-group-solid
	.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
	background: white;
	color: black;
	border-color: white;
}
.ant-radio-group-solid
	.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
	color: #fff;
	background: #038fde;
	border-color: #038fde;
}

.ant-radio-group-solid
	.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
	color: #fff;
	border-color: #038fde;
}

.ant-select-disabled.ant-select:not(.ant-select-customize-input)
	.ant-select-selector {
	color: rgba(0, 0, 0, 0.75);
	background: #f5f5f5;
	cursor: not-allowed;
}

.ant-picker-input > input[disabled] {
	color: rgba(0, 0, 0, 0.75);
	border-color: #d9d9d9;
	box-shadow: none;
	cursor: not-allowed;
	opacity: 1;
}

.ant-select-disabled.ant-select-multiple .ant-select-selection-item {
	color: rgba(0, 0, 0, 0.75);
	border-color: #d9d9d9;
}
.ant-radio-button-wrapper-disabled:first-child,
.ant-radio-button-wrapper-disabled:hover {
	color: rgba(0, 0, 0, 0.75);
	background-color: #f5f5f5;
}

.ant-form-item-control-input {
	.ant-input[disabled] {
		color: rgba(0, 0, 0, 0.75);
		background-color: #f5f5f5;
		cursor: not-allowed;
		opacity: 1;
	}
	.ant-select-disabled {
		color: rgba(0, 0, 0, 0.75);
	}
	.ant-select-disabled.ant-select:not(.ant-select-customize-input)
		.ant-select-selector {
		color: rgba(0, 0, 0, 0.75);
		background: #f5f5f5;
	}
	.ant-picker-input > input[disabled] {
		color: rgba(0, 0, 0, 0.75);
		border-color: #d9d9d9;
		box-shadow: none;
	}
	.ant-radio-button-wrapper-disabled.ant-radio-button-wrapper-checked {
		color: rgba(0, 0, 0, 0.75);
		border-color: #d9d9d9;
		box-shadow: none;
	}
	.ant-select-disabled.ant-select-multiple .ant-select-selection-item {
		color: rgba(0, 0, 0, 0.75);
		border-color: #d9d9d9;
	}
	.ant-checkbox-disabled .ant-checkbox-inner {
		border-color: #d9d9d9 !important;
	}
	.ant-checkbox-disabled + span {
		color: rgba(0, 0, 0, 0.75);
	}
	.ant-select-disabled.ant-select:not(.ant-select-customize-input)
		.ant-select-selector {
		color: rgba(0, 0, 0, 0.75);
	}
	.ant-input[disabled] {
		color: rgba(0, 0, 0, 0.75);
		background-color: #f5f5f5;
		border-color: #d9d9d9;
		box-shadow: none;
	}
}

.ant-menu-submenu-title:hover {
	.ant-menu-submenu-arrow::before,
	.ant-menu-submenu-arrow::after {
		background: white !important;
	}
}

.anticon svg {
	margin-top: 0.1rem;
}

.ant-select-arrow,
.ant-select-clear {
	margin-top: 0.1rem;
	top: 31%;
}

.margin-1r {
	margin-bottom: 1rem;
}

.left-margin {
	margin-left: 0;
}

.email-input {
	width: 24rem;
}
.email-invite {
	margin-top: 25px;
}

.li-gap {
	margin-left: none;
}

.gx-header-notifications {
	flex-wrap: nowrap;
}
.team-leads {
	float: none !important;
	padding-left: 0;
	padding-right: 0;
}

.team-leads {
	.ant-checkbox + span {
		padding-right: 0;
	}
}

@media (max-width: 614px) {
	.ant-form-item {
		width: 100%;
	}
}
@media (max-width: 748px) {
	.left-margin {
		margin-left: 2rem;
	}
}
@media (max-width: 575px) {
	.add-holiday .ant-form-item-label > label {
		height: auto !important;
	}
}

@media (max-width: 1314px) {
	.flex-column {
		flex-direction: column;
	}
	.email-input {
		width: 100%;
	}
	.email-invite {
		margin-top: 0.8rem;
		margin-bottom: 0;
	}
}
@media (max-width: 417px) {
	.day-attendance {
		margin-right: 4rem;
	}
	.li-gap {
		margin-left: -0.9rem;
	}
}
@media (max-width: 647px) {
	.ant-picker-panel-container .ant-picker-panels {
		display: inline-flex;
		flex-wrap: nowrap;
		direction: ltr;
		flex-direction: column;
	}
}
