.project-name{
    display: inline-block;
    margin: 0 !important;
}

.project-name:hover{
    color:@primary-color;
    cursor: pointer;
}

.staging-urls{
    display: inline-block;
    margin-right: 10px;
}