.role-box{
    background-color: rgb(3 143 222 / 10%);
    padding: 20px;
    border-radius: 4px;
}

.role-box-header{
    display: flex;
    justify-content: space-between;
}

.role-box-title{
    font-weight: 500;
    font-size: 16px;
}